packages:
  yum:
    amazon-linux-extras: []
commands:
  001_install:
    command: amazon-linux-extras install -y epel
  002_install:
    command: yum install -y supervisor
  003_install:
    command: amazon-linux-extras enable postgresql12
  004_install:
    command: yum install -y postgresql-devel
  101_command:
    command: 'sysctl net.core.somaxconn=32768'
  102_command:
    command: 'sysctl net.core.netdev_max_backlog=32768'

