container_commands:
  00_add_privileged:
    command: sed -i "s/docker run -d/docker run --sysctl 'net.core.somaxconn=32768' --privileged -d/" /opt/elasticbeanstalk/hooks/appdeploy/enact/00run.sh
  01_command:
    command: 'sysctl net.core.somaxconn=32768'
  02_command:
    command: 'sysctl net.core.netdev_max_backlog=32768'